<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>菜谱信息公布</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" media="all"/>
    <link rel="stylesheet" href="/resources/layui_ext/dtree/dtree.css" media="all"/>
    <link rel="stylesheet" href="/resources/layui_ext/dtree/font/dtreefont.css" media="all"/>
    <style type="text/css">
        .layui-table-cell {
            height: auto !important;
            white-space: normal;
        }
        .layui-table-cell img {
            width: 60px;
            height: 60px;
        }
    </style>
</head>
<!--子页面需要引入 layui.css public.css layui.js body 需要 class="childrenBody" 就是一个边距-->
<body class="childrenBody">
<!--查询条件开始-->
<fieldset class="layui-elem-field" align="center">
    <legend>查询某星期的公布的菜谱</legend>
    <div class="layui-field-box">
        <form action="" lay-filter="doSearchForm" id="doSearchForm" class="layui-form layui-form-pane" method="get">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">星期</label>
                    <div class="layui-input-inline">
                        <select name="week" id="week">
                            <option value="1">星期一</option>
                            <option value="2">星期二</option>
                            <option value="3">星期三</option>
                            <option value="4">星期四</option>
                            <option value="5">星期五</option>
                            <option value="6">星期六</option>
                            <option value="7">星期天</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-icon layui-icon-search" lay-submit="" lay-filter="doSearch">查询
                    </button>
                    <button type="reset" class="layui-btn layui-icon layui-icon-refresh layui-btn-warm">重置</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<!--查询条件结束-->

<!--数据表格开始-->
<div>
    <!--数据表格-->
    <table class="layui-hide" id="mainTable" lay-filter="mainTable"></table>
    <!--数据表格上面的工具栏 批量删除-->
    <div id="mainToolBar" style="display: none;">
        <button shiro:hasPermission="viewRecipeManager:view" type="button" class="layui-btn layui-icon layui-icon-tips layui-btn-danger" lay-event="bathDel">批量下架</button>
    </div>
    <!--数据表格右边的操作 删除-->
    <div id="mainRowBar" style="display: none;">
        <button type="button" class="layui-btn layui-icon layui-icon-edit layui-btn-sm" lay-event="view">查看评论</button>
        <button type="button" class="layui-btn layui-icon layui-icon-edit layui-btn-sm" lay-event="add">点评</button>
    </div>
</div>
<!--数据表格结束-->

<!--添加和修改的弹出层开始-->
<div style="display: none;margin: 20px;" id="addOrUpdateDiv">
    <form action="" class="layui-form layui-form-pane" id="dataForm" lay-filter="dataForm">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-text">评论</label>
            <div class="layui-input-block">
                <input type="hidden" name="recipeId" id="recipeId">
                <textarea class="layui-textarea" name="content" id="content"></textarea>
            </div>
        </div>
        <div class="layui-inline" style="float: right;">
            <!--lay-submit 和 layui-form 可以触发表单的验证-->
            <button type="button" class="layui-btn layui-icon layui-icon-search layui-btn-sm" lay-submit="" lay-filter="doSubmit" id="doSubmit">提交评论</button>
            <button type="reset" class="layui-btn layui-icon layui-icon-refresh layui-btn-sm layui-btn-warm">重置</button>
        </div>
    </form>
</div>
<!--添加和修改的弹出层结束-->

<!--查看评论开始-->
<div style="display: none;margin: 20px;" id="viewDiv">
    <!--数据表格-->
    <table class="layui-hide" id="viewTable" lay-filter="viewTable"></table>
</div>
<!--查看评论结束-->
</body>
<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script>
    // 提升作用域，dtree适用，为了其他页面能调用该对象（两个页面必须有一个公共的父页面）
    var tableIns;
    // 因为添加部门需要使用到下拉树 所以要扩展dtree
    layui.use(["jquery", "form", "layer", "table"], function () {
        // jq
        var $ = layui.jquery;
        // 表单
        var form = layui.form;
        // 弹出层
        var layer = layui.layer;
        // 数据表格
        var table = layui.table;

        // 加载数据表格数据
        tableIns = table.render({
            elem: '#mainTable'
            , url: '/recipeView/recipes'
            , toolbar: '#mainToolBar' //开启头部工具栏，并为其绑定左侧模板
            , title: '食品菜谱数据表'
            , height: 'full-200'
            , page: true
            , cols: [ [
                {type: 'checkbox'}
                // , {field: 'id', title: 'ID', sort: true, align: 'center'}
                , {field: 'recipeName', title: '菜谱名称', align: 'center', sort: true}
                , {field: 'recipeCategoryName', title: '菜谱类别', align: 'center'}
                , {field: 'recipeImgPath', title: '菜谱图片', align: 'center', templet: function (obj) {
                        return "<img src=/file/showImageByPath?path=" + obj.recipeImgPath + ">";
                    }}
                , {field: 'createTime', title: '菜谱创建时间', align: 'center'}
                , {field: 'recipePrice', title: '菜谱参考价格', align: 'center', sort: true, templet: function (obj) {
                        return obj.recipePrice + "元";
                    }}
                // , {field: 'note', title: '菜谱备注', align: 'center', width: "15%"}
                , {field: 'right', title: '操作', toolbar: '#mainRowBar', align: 'center', fixed: 'right', width: "20%"}
            ] ]
            , done: function (res, curr, count) {   // 处理在某页只有一条数据删除之后 显示无数据
                hoverOpenImg();//显示大图
                if (res.data.length == 0 && curr != 1) {
                    tableIns.reload({
                        page: {
                            curr: (curr - 1)
                        }
                    })
                }
            }
        });
        //显示大图
        function hoverOpenImg(){
            var img_show = null; // tips提示
            $('td img').hover(function(){
                var img = "<img class='img_msg' src='"+$(this).attr('src')+"' style='width:130px;' />";
                img_show = layer.tips(img, this,{
                    tips:[2, 'rgba(41,41,41,.5)']
                    ,area: ['160px']
                });
            },function(){
                layer.close(img_show);
            });
            $('td img').attr('style','max-width:70px');
        }

        // 模糊查询
        form.on("submit(doSearch)", function (data) {
            // 数据表格重载
            tableIns.reload({
                // url 默认为 tableIns里面的url
                url: '/recipeView/recipes',
                // 这里是where条件   data.field表示表单中的数据
                where: data.field,
                // 分页，从第一页开始查
                page: {
                    curr: 1
                }
            });
            // 阻止表单提交
            return false;
        });

        // 监控工具栏的事件 批量删除、添加
        table.on("toolbar(mainTable)", function (obj) {
            switch (obj.event) {
                case 'bathDel':
                    batchDel();
                    break;
            }
        });

        // 监控行工具的事件 点评
        table.on("tool(mainTable)", function (obj) {
            // 获取数据
            var data = obj.data;
            switch (obj.event) {
                case 'add':
                    openUpdateLayer(data);
                    break;
                case 'view':
                    view(data);
                    break;
            }
        });

        // 打开评论的弹出层
        function openUpdateLayer(data) {
            mainIndex = layer.open({
                // type 1 代表页面层
                // content 代表 html
                // area 表示 宽 高
                type: 1,
                content: $("#addOrUpdateDiv"),
                area: ["600px", "250px"],
                title: "点评菜谱",
                success: function () {
                    // 清空数据
                    $("#content").val("");
                    // 回显id
                    $("#recipeId").val(data.recipeId);
                    // 添加的url
                    url = "/comment/comment";
                    addOrUpdateType = "post";
                }
            });
        }

        // 批量删除
        function batchDel() {
            // 获取选中行
            var checkStatus = table.checkStatus("mainTable");
            // 判断是否选中某行
            var checkStatusLength = checkStatus.data.length;
            if (checkStatusLength > 0) {
                var currentWeek = $("#week option:selected").text();
                // 询问一下
                layer.confirm("您确定真的要下架这些【"+currentWeek+"】的菜谱嘛？", {icon: 3, title: "提示"}, function (index) {
                    // 获取数据
                    var data = checkStatus.data;
                    var ids = "";
                    $.each(data, function (index, item) {
                        index == 0 ? ids += "ids=" + item.id : ids += "&ids=" + item.id;
                    });
                    $.post("/recipeView/recipeViewss", ids, function (res) {
                        if (res.code == 200) {
                            // 需要重新渲染数据表格
                            tableIns.reload();
                        }
                        // 提示信息
                        layer.msg(res.msg, {icon: 1});
                    });
                    // 关闭
                    layer.close(index);
                });
            } else {
                layer.msg("请选中某一行才能进行批量删除");
            }
        }


        var tableView;
        // 查看评论
        function view(data) {
            console.log(data);
            mainIndex = layer.open({
                // type 1 代表页面层
                // content 代表 html
                // area 表示 宽 高
                type: 1,
                content: $("#viewDiv"),
                area: ["950px", "500px"],
                title: "查看评论",
                success: function () {
                    // 加载数据表格数据
                    tableView = table.render({
                        elem: '#viewTable'
                        , url: '/comment/comments?recipeId=' + data.recipeId
                        , toolbar: false //开启头部工具栏，并为其绑定左侧模板
                        , title: '评论'
                        , page: true
                        , cols: [ [
                            {field: 'commentId', title: 'ID', sort: true, align: 'center'}
                            , {field: 'commentFacultyName', title: '评论人', align: 'center'}
                            , {field: 'content', title: '评论内容', align: 'center'}
                            , {field: 'createTime', title: '评论时间', align: 'center'}
                        ] ]
                    });
                }
            });
        }

        // 添加 和 修改
        form.on("submit(doSubmit)", function (data) {
            // 构造参数
            $.ajax({
                url: url,
                data: data.field,
                type: addOrUpdateType,
                success: function (res) {
                    if (res.code == 200) {
                        // 需要重新渲染数据表格
                        tableIns.reload();
                    }
                    // 提示信息
                    layer.msg(res.msg, {icon: 1});
                    // 关闭弹出层
                    layer.close(mainIndex);
                }
            });
        });
    });

</script>
</html>