<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.bus.mapper.OutstorageMapper">
  <resultMap id="BaseResultMap" type="com.canteen.bus.domain.Outstorage">
    <!--@mbg.generated-->
    <!--@Table tb_outstorage-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="outstorage_no" jdbcType="VARCHAR" property="outstorageNo" />
    <result column="material_id" jdbcType="INTEGER" property="materialId" />
    <result column="outstorage_num" jdbcType="INTEGER" property="outstorageNum" />
    <result column="outstorage_unit" jdbcType="VARCHAR" property="outstorageUnit" />
    <result column="outstorage_reason" jdbcType="VARCHAR" property="outstorageReason" />
    <result column="outstorage_user" jdbcType="VARCHAR" property="outstorageUser" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="outstorage_time" jdbcType="TIMESTAMP" property="outstorageTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="outstorage_status" jdbcType="CHAR" property="outstorageStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, outstorage_no, material_id, outstorage_num, outstorage_unit, outstorage_reason, 
    outstorage_user, receiver, outstorage_time, note, outstorage_status
  </sql>
</mapper>