<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canteen.bus.mapper.RecipeWeekMapper">
  <resultMap id="BaseResultMap" type="com.canteen.bus.domain.RecipeWeek">
    <!--@mbg.generated-->
    <!--@Table tb_recipe_week-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="recipe_id" jdbcType="INTEGER" property="recipeId" />
    <result column="view_week" jdbcType="CHAR" property="viewWeek" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, recipe_id, view_week
  </sql>
</mapper>